.gitignore
Makefile
Mallie.make
Mallie.vcxproj
Mallie.vcxproj.filters
Mallie.vcxproj.user
MallieSolution.sdf
MallieSolution.sln
MallieSolution.v11.suo
mallie
mallie_debug.exe
mallie_debug.idb
mallie_debug.ilk
mallie_debug.pdb
mallie_debug
cornellbox_monochrome.png
obj/
r/
*~
